Click
Flask
Flask-Cors
Jinja2
MarkupSafe
Werkzeug
atomicwrites
attrs
certifi
chardet
colorama
idna
importlib-metadata
itsdangerous
mockito
more-itertools
packaging
pip
pluggy
py
pyparsing
pytest
requests
setuptools
six
urllib3
wcwidth
zipp