<div class="container">
  <h2 class="main-title">Number 2 Word</h2>
  <div class="func_search w-25">
    <p>Type a number:</p>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="numberReceived"
        placeholder="Number"
      />
    </div>
    <button class="btn btn-orange" (click)="addFieldValue()">Add word</button>
  </div>
  <div class="gray-table" style="margin-top: 10px;">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Timestamp</th>
          <th scope="col">Number</th>
          <th scope="col">Word</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of wordsArray; let i = index">
          <td>
            {{ word?.timestamp | date: "short" }}
          </td>
          <td>
            {{ word?.wordNumber }}
          </td>
          <td>
            {{ word?.word }}
          </td>
        </tr>
        <tr>
          <td>
            <p id="wordTimestamp" name="wordTimestamp">
              {{ word.timestamp | date: "short" }}
            </p>
          </td>
          <td>
            <p id="wordWordNumber" name="wordWordNumber">
              {{ word.wordNumber }}
            </p>
          </td>
          <td>
            <p id="wordWord" name="wordWord">{{ word.word }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
